 .header{
                         display: flex;
                         flex-direction: row;  
                         height: 25px;
                         color: white;   
                         background-color: rgb(166, 121, 9);
                         border-width: 2px;
                        border-style: solid;
                        border-color: rgb(138, 222, 229);
                           
                            }
                .flo{
                    width: 200px;
                    font-size: 18px;
                    font-weight: bolder;
                }           
                .hpm{
                    flex: 1;
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;                 
                }
                .phn{
                    width:150px;
                    font-size: 18px;
                    text-align: centre;
                    font-weight: bold;
                    margin-bottom: 0px;
                } 
                .s{
                    text-align: center;
                    background:  ;
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom:0px;
                    color: darkblue;
                    text-decoration: solid;
                    text-shadow: 2px;
                    margin-top: 0px;
                    
                    
                    
                }
                .hph{
                    text-align: center;
                    font-size: 60px;
                    font-weight: bolder;
                    margin-top:0px;
                    color: rgb(207, 59, 6);
                    margin-bottom: 10px;
                    background: ;
                    margin-bottom: 0px;
                    padding-bottom: 10px;
                }

                .bar{
                    margin-top: 0px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    background-color: rgb(170, 122, 2);
                    padding: 5px 10px;
                    color: black;
                }
                .h{
                    margin-left: 20px;
                }
                .ah{

                }
                .os{
                    

                                    }
                .sm{
                    
                }

                .docinfo{
                    display: grid;
                    height: 500px;
                    background-color: lightgreen;
                    
                }
                .ad{
                    display: grid;
                    height: 500px;
                    background-color: lightcoral;
                    
                }

                .h{

                    border: none;
                    cursor: pointer;
                }
                
                .dropdown:hover .h{
                    color: rgb(0, 255, 153);
                }
                
                .dropdown a{
                    display: block;
                    margin-left: 0px;
                    color: rgb(6, 5, 87);
                    padding: 25PX;
                    font-weight: bold;
                    

                }
                .dropdown .content {
                    display: none;
                    position: absolute;
                    background-color: rgb(245, 207, 193);
                    color: red;
                    min-width: 100px;
                    box-shadow: black;
                    margin-left: 25px;
                    margin-top: 2px;
                    padding-top: 0PX;
                  
                
                    }
                    

                 .dropdown:hover .content{
                    display: block;
                    background: linear-gradient(rgb(8, 29, 96) rgb(138, 224, 137));
                 }

                 .menu1{
                    list-style-type: none;
                    display: none;
                    margin-left: 250px;
                    position: absolute;
                    background-color: lightgray;
                    margin-top: -50px;
                    padding-top: 0px;
                    width: 220px;
                    font-size: 20px;
                    font-weight: 600;
                    
                 }
                 .menu:hover .menu1{
                    display: block;
                 }    
                                        
            
            .ahm{
                font-size: 50px;
                color: rgb(10, 46, 90);
                margin-left: 200px;
                margin-top: 50px;
                text-decoration: underline;
                font-weight: bold;
                
            }
            .imgf{
                align-items: center;
                height: 600px;
                margin-left: 340px;
                width: 1200PX;
                
            }
            .hoo{
                display: grid;
                background-color: lightgray;
                height: 700PX;
                padding-top: 20px;
                
            }
            .duv{
                display: grid;
                grid-template-columns: 150px 1fr 150px;
                                height: 1000px;
                
                
            }
            .bduv{
                background-color:lightyellow;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin-top: 20px;
                backface-visibility: hidden;
                
            }
            .abh{
                margin-left: 150px;
                font-size: 60px;
                color: rgb(193, 52, 76);
                              
            }

            .hjk{
                 margin-left: 250px;
                 font-size: 35PX;
                 font-weight: bold;
                 font-style: normal;
                 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: rgb(47, 106, 104);
                
                

                
                

            }
            .lkj{
                margin-left: 250px;
                 font-size: 35PX;
                 font-weight: bold;
                 font-style: normal;
                 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: rgb(48, 143, 31);
            }

           
            .hhhh{
                background-color: rgb(121, 47, 47);
            }
            .aph{
                color: black;
            }
            
            .hkl{
                text-decoration: none;
                color: black;
            }

            .dfg{
                background-color:darkslategrey;    }



            .mid{
                display: grid;
                grid-template-columns: 400px 1fr;
                height: 600px;
                background-color: rgba(224, 194, 194, 0.652);

            }

             .end{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                height: 250px;
                background-color: rgb(26, 118, 5);
             }   
             .py{
                color: rgb(16, 2, 81);
                font-size: 25px;
                justify-content: center;
                padding-top: 30px;
             }
             .pz{
                color:rgb(16, 2, 81);
                font-size: 25px;
                padding-top: 10px;
             }

             .sm{
            margin-left: 150px;
            margin-top: 50px;
            font-size: 30px;
            font-weight: bold;
            color: aliceblue;
             }
             
             px{
                margin-top: 30px;
                padding-top: 30px;
                color:rgb(16, 2, 81);
                font-size: 25px;
                padding-top: 10px;
             }
               cnz{
                cn {
                margin-top: 50px;
                font-size: 25px;
                font-weight: bold;
               }

               .homet{
                text-decoration: none;
                background-color: aliceblue;
               }